@import '~office-ui-fabric-react/dist/sass/References.scss';

.syntaxHighlight {
  .container {
    margin: 0;
    max-width: 700px;
    &__full_width {
      max-width: 100%;
    }
    &__left {
      margin: 0;
    }
    &__center {
      margin: auto;
    }
    &__right {
      margin: 0 0 0 auto;
    }

    .clipboardTab {
      opacity: 0;
      transition: .5s ease;
    }

    &:hover {
      .clipboardTab {
        opacity: 1;
      }
    }
  }

  &__headline {
    @include ms-font-xl;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
  }
}
